{%load static%}
<style>
.topnav {
    background-color: #e5b05a;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    /* display: flex;
    align-items: center; */
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:first-child){
    margin: 20px 0px;
    /* transition: transform 0.3s ease; */
}
.topnav a.contact{
    border-left: 1px solid #000;
    border-right: 1px solid #000;;
}

.topnav .icon {
    display: none;
}
.topnav :hover{
    /* background-color: #ddd; */
    color: white;
}
.topnav a.login {
    float: right;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    /* justify-content: right; */
    display: block;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px 30px;
}
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}
</style>

<div class="topnav" id="myTopnav">
    <a href="/"><img src="https://i.ibb.co/x6FcSTN/Informasi-Pangan-Tebo-cut.png" height="60px"></a>
    <a href="/"><i class="fa-solid fa-house"> </i> Beranda</a>
    <a href="#contact" class="contact"><i class="fa-regular fa-envelope"> </i> Kontak</a>
    <a href="#about"><i class="fa-regular fa-user"> </i> Tentang</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="login" style="padding-right: 0%;"><i class="fa-solid fa-user"></i> Halo, {{user.username}}</a>
    {%else%}
    <a href="{% url 'login' %}" class="login"><i class="fa-solid fa-right-to-bracket"> </i> Login</a>
    {%endif%}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>