<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Informasi Pangan Tebo{% endblock %}</title>
  <script src="https://kit.fontawesome.com/5ad3573202.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="/home2/is031023/django/ipt/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/home2/is031023/django/ipt/static/js/bootstrap.min.js" rel="stylesheet">
  <link rel="icon" href="https://i.ibb.co/YDK5gjV/logo-1.png">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>